FIREBASE_SERVICE_ACCOUNT_PATH=<base64>
ADMIN_KEY=<ADMIN_KEY>
APP_BUNDLE_ID=<com.APP_BUNDLE_ID>

# Cấu hình Apple StoreKit 2 Promotional Offer Signature
APPLE_KEY_ID=<Mã ID của file .p8, ví dụ: 5X8A...>
APPLE_PRIVATE_KEY=<Chuỗi nội dung file .p8, có thể có hoặc không có BEGIN/END header>